#formdiv{
	
	display:none;
}

button{


  -webkit-border-radius: 38;
  -moz-border-radius: 38;
  border-radius: 20px;
  font-family: Courier New;
  color: #f0e7f0;
  font-size: 18px;
  background: #1d384a;
  padding: 10px 24px 11px 24px;
  text-decoration: none;
  
}

button:hover {
  background: #25343d;
  background-image: -webkit-linear-gradient(top, #25343d, #3498db);
  background-image: -moz-linear-gradient(top, #25343d, #3498db);
  background-image: -ms-linear-gradient(top, #25343d, #3498db);
  background-image: -o-linear-gradient(top, #25343d, #3498db);
  background-image: linear-gradient(to bottom, #25343d, #3498db);
  text-decoration: none;
  box-shadow: inset 0 0 0 1px #27496d,0 5px 15px #193047;
  
}

button:active {
  box-shadow: inset 0 0 0 1px #27496d,inset 0 5px 30px #193047;
}
